# camill dependencies
websocket-client
git+https://github.com/HEnquist/pycamilladsp.git

# led bars dependencies
rpi_ws281x

# display dependencies
spidev
RPi.GPIO

# oled display dependencies
luma.oled
Pillow

#tft display dependencies
st7735
gpiod
gpiodevice